.layout {
  width: 100%;
  height: 100vh;
  position: relative;
  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding:0;
  }
}

.content {
  display: flex;
  .menu {
    width: 15%;
    transition: 250ms ease-in-out;
  }
  .menu_pullOf {
    width: 5%;
  }
  .container {
    min-height: 280px;
    height: 100%;
    width: 85%;
    padding: 24px;
    background: #fff;
    overflow-y: scroll;
    transition: 250ms ease-in-out;
  }
  .pullOf {
    min-height: 280px;
    height: 100%;
    width: 95%;
    padding: 24px;
    background: #fff;
    overflow-y: scroll;
  }
}
