.main {
  //border: 1px solid red;
  padding: 10px;
  display: flex;
  flex-direction: column;
  //height: 100%;
  width: 100%;

  //overflow-y: scroll;
  .carousel {
    width: 100%;
  }
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}